/* GENERALES */
body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
    max-width: 1200px;
    margin: auto;
  }
.global{
    width: 1024px;
    margin:0 auto 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

  p{
    font-family: Arial;
    font-size: 16px;
    color: darkgray;
    text-align: justify;
    margin: 15px;
}

h1, h5{
    color: rgb(56, 56, 56);
    margin: 5px 15px;
}

h2, #subt{
    color: rgb(90, 90, 90);
    margin: 0 15px;
}

hr{
    color: darkgray;
}

/* HEADER */
#img-header{
    display:block; 
    margin:auto; 
    width:100%
}
.cabecera{
    position: relative;
    width: 100%;
    padding-right: 15px;
}

/*NAVEGACIÓN*/
#logo{
    width: 35px;
    margin-top: 10px;
    margin-left: 10px;
}

.menu ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c2331;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
.menu li{
    display: inline;
    float: right;
}

.menu a{
    display: block;
    padding: 14px 16px;
    margin-top: 5px;
    margin-bottom: 5px
}

li a {
    color: white;
    text-align: center;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #374053;
    color: rgb(182, 235, 213);
  }

li a.active{
    background-color: rgb(64, 132, 163);
}

/*CONTENIDO*/

.contenido{
    width: 66%;
    margin-top: 15px;
    float: left;
    padding: auto
}
.competiciones{
    width:47%;
    text-align: center;
    padding: 15px 10px;
}
.fullImg{
    width:100%;
    text-align: center;
    padding: 15px 10px;
}

.lista li{
    font-family: Arial;
    font-size: 16px;
    color: darkgray;
    text-align: justify;
    margin: 15px;
}

/*ANUNCIOS-ASIDE*/
.anuncios{
    width:33%;
    /*height: 715px;*/
    margin: 15px auto 30px auto;
    float: right;
}

.card {
    background-color: white;
    margin-bottom: 15px;
    padding: 2px 16px;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.imgAnuncio{
    width: 100%;
    display:block;
    margin:auto;
}

/*FOOTER*/
.pie {
    width: 100%;
    left: 0;
    bottom: 0;
    /*position: fixed;*/
 
    text-align: center;
    margin: auto;
    padding: 15px;
}